{% extends 'main.html' %}
{% load static %}
<body>

<div class="imagem">
  <div class="imagem-content">
    <header>
      <h1>Celina Lanche</h1>
      <p>Bem-vindo, aqui tem o melhor salgado do Valle</p>
    </header>

    <nav>
      <a href="#">Início</a>
      <a href="#">Produtos</a>
      <a href="#">Contatos</a>
    </nav>
  </div>
</div>


<section id="inicio">
  <h2>Conheça nossos salgados</h2>
  <p>Saborosos, artesanais e preparados com carinho todos os dias.</p>
</section>

<section id="produtos">
  <h2>Produtos</h2>
  <p>Coxinha, pastel, empada, quibe, bolinha de queijo... tudo sempre fresquinho!</p>

    <div>
        <img src="" alt="">
        <div>
        <h3>
           Coxinha tradicional
         </h3>
        <p> A coxinha é um salgado brasileiro</p>
         </div>
    </div>

    <div>
        <img src="" alt="">
        <div>
        <h3>
           Coxinha de frango
         </h3>
        <p> A coxinha é um salgado brasileiro</p>
         </div>
    </div>

</section>